{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
h1{
    text-align:center;
}
</style>
<h1>Witaj na stronie do zarządania zapasami!</h1>
{% endblock %}
